.content {
  width: 500px;
  height: 800px;
  margin: 0 auto;
  margin-top: 300px;
}

.content h1 {
  font-size: 100px;
  text-align: center;
  margin-bottom: 10px;
  position: relative;
  font-family: 'Just Me Again Down Here', cursive;
  color: black;
}

.content .first {
  position: absolute;
  top: 23%;
  left: 43%;
}

.content .second {
  position: absolute;
  top: 30%;
  left: 54%;
}

.content h3 {
  font-size: 45px;
  color: #535353;
  padding: 60px 60px;
  cursor: pointer;
}

.content h3:hover {
  text-decoration: underline;
}
