@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Just+Me+Again+Down+Here&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-family: 'Inter', sans-serif;
  /* font-family: 'Just Me Again Down Here', cursive; */
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 135px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px;
  transition: height 0.6s;
}

.inner.sticky {
  height: 60px;
  background-color: rgba(255, 255, 255, 0.92);
}

.nav {
  width: 1300px;
  /* overflow: hidden; */
}

.nav > li {
  width: 20%;
  float: left;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 40px;
  position: relative;
  margin-left: 100px;
}

.nav a {
  color: #3e547d;
}

.subnav > li {
  line-height: 50px;
}

.subnav {
  position: absolute;
  width: 260px;
  display: none;
}

.nav > li:hover {
  transition-duration: 0.5s;
}

.nav > li:hover .subnav {
  height: 200px;
  transition-duration: 1s;
}
