* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  display: block;
  margin-bottom: 30px;
}

.container {
  width: 600px;
  margin: 0 auto;
  margin-top: 350px;
}

.arrow {
  font-size: 50px;
  position: absolute;
  top: 15%;
  left: 10%;
}
.arrow:hover {
  color: #fff;
}

h1 {
  text-align: center;
  margin: 30px 0;
}

/* .poster {
  margin-bottom: 50px;
} */

.title_box {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.title_box p {
  width: 26px;
  height: 26px;
  background-color: #111;
  color: #fff;
  text-align: center;
  line-height: 26px;
  margin-right: 16px;
}

#director,
#info {
  margin-bottom: 20px;
}

.btns {
  text-align: center;
}

button {
  padding: 6px 18px;
}
